/* Rakko Project CSS Source Code
    - main.css
    - Copyright 2021 Chasnah
    - Date Restarted: 7/23/21
    - Last Modified: 7/27/21 @ 12:30PM
*/

body {
      background-color: #10426b;
      background-image: url("../images/bg/blue_wea.gif");
      background-repeat: repeat;
      color: #F5FFFA;
      font-family: 'Times New Roman', Times, serif;
      margin: 0;
}

span.uline {
      text-decoration: underline;
}

a {
      color: #F5DEB3;
      text-decoration: underline;
}

a:active {
      color: #00ffff;
}

a:hover {
      color: #f1f1f1;
      text-decoration: underline;
}

td.sidebar {
      vertical-align: top;
      width: 124px;
      background-color: #111;
      background-image: url("../images/bg/side.gif");
      background-repeat: repeat;
      height: auto;
}

.sidebar p {
      margin: 0;
      padding-top: 5px;
      padding-left: 10px;
      text-align: left;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.sidebar a {
      text-decoration: none;
      color: #DCDCDC;
}

.sidebar a:hover{
      text-decoration: underline;
      color: #00ffff;
}

.sidebar a:active{
      text-decoration: none;
      color:#991cff;
}

.sidebar ul {
      list-style: none;
}

.update {
      margin: auto;
}

.update h1 {
      margin-bottom: 1px;
      padding-left: 10px;
      font-size: small;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      color: #DCDCDC;
      display: block;
      padding-left: 5px;
}

.update p {
      margin-bottom: 1px;
      margin-left: 5px;
      font-size: x-small;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      color: #DCDCDC;
      display: block;
}

.update ul {
      list-style-image: url("../images/bullet/whitearr.gif");
      line-height: 10pt;
      text-align: left;
      display: block;
      margin-right: 5px;
}

.update li {
      padding-bottom: 5px;
}

.update a {
      font-family: Arial, Helvetica, sans-serif;
      color: #DCDCDC;
}

.update a:hover {
      color: #f1f1f1;
      text-decoration: underline;
}

.update a:active {
      color:#00ffff;
      text-decoration: none;
}

.pagenav {
      margin: auto;
}

.pagenav h1 {
      margin-bottom: 1px;
      font-size: small;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      color: #DCDCDC;
      display: block;
      padding-left: 5px;
}

.pagenav p {
      margin-bottom: 1px;
      margin-left: 10px;
      font-size: x-small;
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      color: #DCDCDC;
      display: block;
}

.pagenav ul {
      list-style-image: url("../images/bullet/whitearr.gif");
      line-height: 10pt;
      text-align: left;
      display: block;
}

.pagenav li {
      padding-bottom: 5px;
}
.pagenav a {
      font-family: Arial, Helvetica, sans-serif;
      color: #DCDCDC;
}

.pagenav a:hover {
      color: #f1f1f1;
      text-decoration: underline;
}

.pagenav a:active {
      color:#00ffff;
      text-decoration: none;
}

.download {
      text-align: center;
}

td.download {
      padding: 10px;
      font-family: 'Times New Roman', Times, serif;
}

td.content {
      padding-left: 5px;
}

.content p {
      margin-left: 10px;
      font-size: 17px;
    	text-indent: 20px;
/*    line-height: 26pt; */
}

.content marquee {
      font-size: 17px;
}

.content li {
      font-size: 17px;
}

.content a {
      font-size: 17px;
      color: #87ffe3;
      text-decoration: underline;
}

.content a:hover {
      color: #00ffff;
      text-decoration: underline;
}

.content a:active {
      color: #991cff;
      text-decoration: none;
}

td.footer {
      font-size: x-small;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 5px;
}

.news-category {
      font-size: x-small;
      font-style: italic;
}

.img-right {
      float: right;
}

.img-left {
      float: left;
}
