/* chasnah7.github.io CSS Source File
    - main.css
    - Copyright 2021 Chasnah
    - Date Started: 7/15/21 */

body {
    background-image: url("../images/background.gif");
    background-repeat: repeat;
    background-color: #10121D;
    color: #F5FFFA;
    margin: 0;
}

header {
    background: rgb(5,0,79);
    background: linear-gradient(0deg, rgba(5,0,79,0.7822818214584977) 54%, rgba(0,212,255,0) 100%);
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
    display: block;
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    width: 85%;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

h1.header {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.384);
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 0;
}

p.header {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-shadow: 2px 2px rgba(0,0,0,0.384);
    letter-spacing: 5px;
    margin-top: 0;
}

/* NavBar */
nav {
    text-align: center;
    font-size: 17px;
    position: relative;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 15px
}

ul.nav {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

li.nav {
    float: left;
    font-size: 17px;
    /*border-top: 4px solid rgb(95, 95, 95);
    border-left: 4px solid rgb(95, 95, 95);
    border-right: 4px solid rgb(66, 66, 66);
    border-bottom: 4px solid rgb(66, 66, 66);*/
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 7px 10px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111;
    color: white;
}

.active {
    background-color: rgb(6, 119, 163);
}

.banner {
    display: block;
    text-align: left;
}

.content {
    width: 75%;
    padding: 6px;
    margin: auto;
}

h1.content {
    color: white;
    background: rgba(32, 80, 112, 0.73);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.384);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin: auto;
    line-height: 30px;
}

h3.content {
    width: 100%;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
	text-decoration: bold;
    color: seashell;
    text-align: center;
    margin-top: 30px;
}

p.content {
    color: white;
    background: rgba(32, 80, 112, 0.73);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: auto;
    line-height: 30px;
    text-indent: 15px;
}

a.content {
      color: #F5DEB3;
      text-decoration: underline;
}

a:active.content {
      color: #00ffff;
}

a:hover.content {
      color: #f1f1f1;
      text-decoration: underline;
}

/* Pseudo-Window thing */
p.window {
    color: black;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    padding: 6px;
    border-left: 4px solid rgb(95, 95, 95);
    border-right: 4px solid rgb(66, 66, 66);
    border-bottom: 4px solid rgb(66, 66, 66);
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
}

h3.window {
    color: black;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    padding: 6px;
    border-left: 4px solid rgb(95, 95, 95);
    border-right: 4px solid rgb(66, 66, 66);
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
}

ul.window {
    list-style: none;
    color: black;
    background: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    width: 75%;
    margin: 0 auto;
    text-align: left;
    line-height: 30px;
    padding: 6px;
    border-left: 4px solid rgb(95, 95, 95);
    border-right: 4px solid rgb(66, 66, 66);
    border-bottom: 4px solid rgb(66, 66, 66);
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
}

h2.window {
    background: rgb(7,0,106);
    background: linear-gradient(90deg, rgba(7,0,106,1) 0%, rgba(52,64,255,1) 78%);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: left;
    width: 75%;
    padding: 6px;
    border-left: 4px solid rgb(95, 95, 95);
    border-right: 4px solid rgb(66, 66, 66);
    border-top: 4px solid rgb(95, 95, 95);
    border-bottom: 4px solid rgb(66, 66, 66);
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
    margin-bottom: 0px;
    margin-top: 30px;
}

footer {
    font-size: x-small;
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

h2.footer {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

h3.footer {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

blockquote.content {
    background: rgba(51, 51, 51, 0.678);
    font-family: 'Times New Roman', Times, serif;
    width: 210px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 1px;
    line-height: 20px;
    text-decoration: none;
}

.img-right {
    float: right;
    margin: 0;
    border: 0;
    padding: 5px;
}

.img-left {
    float: left;
    margin: 0;
    border: 0;
    padding: 5px;
}
