/* chasnah7.github.io CSS Source File
    - main.css
    - Copyright 2023 Chasnah
    - Date Started: 7/15/21 */

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../images/background.gif");
    background-repeat: repeat;
    background-color: #10121D;
    color: #F5FFFA;
    margin: auto;
    max-width: 1024px;
    width: 90%;
}

.skipnavlink {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-weight: bold;
    background: white;
    padding: .5rem 1.5rem;
    border-radius: .25rem;
    position: absolute;
    z-index: 99999;
    transform: translateY(-240%);
    transition: transform 325ms ease-in;
}

.skipnavlink:focus {
    transform: translateY(0);
}

.inline {
    display: inline-block;
}

header.tophead {
    background: rgb(5,0,79);
    background: linear-gradient(0deg, rgb(0, 0, 102, 0.7), rgb(0, 0, 204, 0.7), rgb(0, 0, 102, 0.7));
    box-shadow: 10px 15px 4px rgba(0, 0, 0, 0.384);
    display: block;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    width: 85%;
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

header.tophead h1 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40pt;
    text-shadow: 5px 5px rgba(0, 0, 0, 0.384);
    letter-spacing: 3px;
    word-spacing: 5px;
    margin-bottom: 0;
}

header.tophead p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-shadow: 2px 2px rgba(0,0,0,0.384);
    letter-spacing: 5px;
    margin-top: 0;
}

/* NavBar */
.main-nav nav {
    background-image: linear-gradient(0deg, rgb(0, 0, 102, 0.7), rgb(0, 0, 204, 0.7));
    overflow: hidden;
    margin: 0 auto;
    border-radius: 1rem 1rem 0 0;
}

.main-nav nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.main-nav nav a:hover {
    color: white;
    background-image: linear-gradient(0deg, rgb(32, 80, 112, 0.5), rgb(32, 80, 112, 0.0));
    background-color: rgb(255, 255, 255, 0.1);
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.main-nav nav a.active {
    background-image: linear-gradient(0deg, rgb(32, 80, 112, 1.0), rgb(32, 80, 112, 0));
    color: white;
}

.main-nav .navicon {
    display: none;
}

@media screen and (max-width: 600px) {
    .main-nav nav a:not(:first-child) {display:none;}
    .main-nav nav a.navicon {
        float: right;
        display: block;
    }
    .section nav a:not(:first-child) {display:none;}
    .section nav a.navicon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .main-nav nav.responsive {
        position: relative;
        background: rgb(0, 0, 102, 0.73);
    }
    .main-nav nav.responsive a.navicon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .main-nav nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .main-nav nav.responsive a.active {
        background-image: linear-gradient(0deg, rgb(0, 0, 102, 0.7), rgb(0, 0, 204, 0.7));
    }
    .wrap-thinright nav.responsive {
        position: relative;
    }
    .wrap-thinright nav.responsive a.navicon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .wrap-thinright nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .wrap-thinright section.responsive a.active {
        background-image: linear-gradient(0deg, rgb(0, 0, 102, 0.7), rgb(0, 0, 204, 0.7));
    }
}

.banner {
    display: block;
    text-align: left;
}

.mainhead {
    background-image: linear-gradient(0deg, rgba(32, 80, 112, 0.75), rgba(32, 80, 112, 1.0));
    margin: 0 auto;

}

.mainhead h1 {
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.384);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    line-height: 30px;
    padding: 10px;
    margin: 0  auto;
}

.mainhead h3 {
    width: 100%;
	  font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
	  text-decoration: bold;
    color: seashell;
    text-align: center;
    margin-top: 30px;
}

.mainhead p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 12pt;
    line-height: 30px;
    text-indent: 15px;
    margin: 0 auto;
}

.mainhead a {
    color: #F5DEB3;
    text-decoration: underline;
}

.mainhead a:active {
    color: #00ffff;
}

.mainhead a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.icon img {
    height: 25px;
}

.wrap {
    display: flex;
    margin: 0 auto;
  }
 
.wrap-left {
    flex-wrap: wrap;
    width: 75%;
    padding-right: 10px;
}

.wrap-thinleft {
    flex-wrap: wrap;
    width: 25%;
    padding-right: 10px;
    /*border: 1px solid green; REMOVE BEFORE PUSH !!!*/
}

.wrap-right {
    flex-wrap: wrap;
    width: 75%;
    /*border: 1px solid blue; REMOVE BEFORE PUSH !!!*/
}

.wrap-thinright {
    flex-wrap: wrap;
    width: 25%;
} 

.wrap .navicon {
    display: none;
}

@media (max-width: 800px) {
    .wrap {
        flex-direction: column-reverse;
    }
    .wrap-thinleft {
        width: 100%;
    }

    .wrap-thinright {
        width: 100%;
    }

    .wrap-left {
        width: 100%;
    }
    
    .wrap-right {
        width: 100%;
    }
}

.updates {
    font-size: medium;
}

/* Main Body */

.profile h4 {
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

.profile h5 {
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

.profile p {
    text-align: center;
    padding-bottom: 10px;
    margin: auto;
}

.profile li {
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    max-width: 85%;
}

.profile img {
    /** float: right; **/
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 75%;
    height: 75%;
    max-width: 225px;
}

.content {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.content section {
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    background: rgba(59, 59, 59, 0.73);
    padding-top: 5px;
    padding-bottom: 5px;
}

.content article {
    font-size: medium;
}

.content nav {
    margin: auto;
    line-height: 30px;
    font-size: large;
    padding-bottom: 10px;
}

.content p {
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    text-indent: 20px;
}

.content h1 {
    display: table;
    font-size: 20px;
    color: rgb(19, 19, 19);
    background: white;
    background-image: url("../images/paper.gif");
    border-radius: 1rem;
    box-shadow: 5px 10px 4px rgba(0, 0, 0, 0.384);
    margin: 10px;
    margin-bottom: 15px;
    padding: 5px;
}

.content h2 {
    padding-left: 5px;
}

.content ul {
    list-style: none;
    margin: 0 auto;
}

.content a {
    color: #F5DEB3;
    text-decoration: none;
}

.content a:active {
    color: #00ffff;
}

.content a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

footer {
    font-size: x-small;
    font-family: Arial, sans-serif;
    padding: 5px;
    text-align: center;
}

footer h2 {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

footer h3 {
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

blockquote.dumb {
    background: rgba(51, 51, 51, 0.678);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: .5px .25px rgba(0, 0, 0, 0.384);
    border-radius: 1rem;
    margin: auto;
    width: 210px;
    max-width: 210px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    letter-spacing: 1px;
    text-decoration: none;
}

p.dumb {
    color: #10121D;
}

.img-right {
    float: right;
    margin: 0;
    border: 0;
    padding: 5px;
}

.img-left {
    float: left;
    margin: 0;
    border: 0;
    padding: 5px;
}
